* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

p#fpsDisplay {
    font-family: sans-serif;
    position: fixed;
    color: white;
    background: rgba(0,0,0,0.5);
    z-index: 5;
}

canvas {
    width: 100vw; 
    height: 75vw; /* height:width ratio = 12/16 = .75  */
    background: pink;
    max-height: 100vh;
    max-width: 133.333333vh; /* 16/12 = .13333333 */
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
